<main class="main-result">
    <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/tutor-portal">Incoming Requests</a></li>
            <li class="list-group-item"><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">

  {{!-- <div class="input-group mb-3">
  <button class="btn btn-success btn-block" type="submit">Check In</button>
</div> --}} 
                <h2>Incoming Requests</h2>
            </div>
            <div class="card-body">
            {{#if curObjects.length}}
            {{#each curObjects as |request|}}
            <div class="card result-card">
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-6">
                        <h3>{{request.studentKey.user.first_name}} {{request.studentKey.user.last_name}}</h3>
                        <p>{{request.studentKey.user.university}}</p>
                    </div>
                    <div class="col-md-3">
                        {{#if request.accepted}}
                        <a class="btn btn-success btn-block emailbutton" id='emailButton{{request.id}}' data-rid="{{request.id}}" href="mailto:{{request.studentKey.user.email}}">Email Student</a>
                        {{else}}
                        <button class="btn btn-success btn-block reqbutton" id='acceptButton{{request.id}}' data-rid="{{request.id}}">Accept Request...</button>
                        {{/if}}
                    </div>
                </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h4>No Incoming Requests!</h4>
            {{/if}}

        </div>
      </div>

</main>
{{#section 'script'}}

<script src="/static/js/tutor_help.js"></script>


{{/section}}