<main class="main-result">
    <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/tutor-portal">Incoming Requests</a></li>
            <li class="list-group-item"><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </div>

    <div class="col-md-7">
        <h2>Pick Your Subject</h2>
            <div class="row">
            
                <select class="form-select" aria-label="Default select example" id="selectSubject">
                    <option selected>Select subject...</option>
                    <option value="{{tutorId}}/Node">Node</option>
                    <option value="{{tutorId}}/React">React</option>
                    <option value="{{tutorId}}/Angular">Angular</option>
                    <option value="{{tutorId}}/TypeScript">TypeScript</option>
                </select> 
            
            </div>
         
        <br>
        
        <h2 class="display-6">Incoming Requests</h2>
        <div class="d-flex justify-content-center">
            
            {{!-- <div class="input-group mb-3">
                    <button class="btn btn-success btn-block" type="submit">Check In</button>
                    </div> --}} 
                    
                    
                   
                    {{#if curObjects.length}}
                    {{#each curObjects as |request|}}
                    
                      <div class="card" style="width: 18rem; margin:10px" >
                            <div class="card-body">
                                <h5 class="card-title">{{request.studentKey.user.first_name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{request.studentKey.user.last_name}}</h6>
                                <p class="card-text">{{request.studentKey.user.university}}</p>
                                 {{#if request.accepted}}
                                <a class="btn btn-success btn-block emailbutton" id='emailButton{{request.id}}' data-rid="{{request.id}}" href="mailto:{{request.studentKey.user.email}}">Email Student</a>
                                {{else}}
                                <a class="btn btn-success btn-block emailbutton" id='emailButton{{request.id}}' data-rid="{{request.id}}" href="mailto:{{request.studentKey.user.email}}" style="display:none">Email Student</a>
                                <a class="btn btn-success btn-block reqbutton" id='acceptButton{{request.id}}' href="/api/help/accept/{{request.id}}" data-rid="{{request.id}}">Accept Request</a>
                                {{/if}}
                            </div>
                        </div>  
                    
                    {{!-- <div class="card result-card">
                        <div class="row">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-6">
                                <h3>{{request.studentKey.user.first_name}} {{request.studentKey.user.last_name}}</h3> --}}
                                {{!-- <p>Subject:{{tutorModel.subject}} <br>University:{{request.studentKey.user.university}}</p> --}}
                            {{!-- </div>
                            <div class="col-md-3">
                                {{#if request.accepted}}
                                <a class="btn btn-success btn-block emailbutton" id='emailButton{{request.id}}' data-rid="{{request.id}}" href="mailto:{{request.studentKey.user.email}}">Email Student</a>
                                {{else}}
                                <a class="btn btn-success btn-block emailbutton" id='emailButton{{request.id}}' data-rid="{{request.id}}" href="mailto:{{request.studentKey.user.email}}" style="display:none">Email Student</a>
                                <a class="btn btn-success btn-block reqbutton" id='acceptButton{{request.id}}' href="/api/help/accept/{{request.id}}" data-rid="{{request.id}}">Accept Request</a>
                                {{/if}}
                            </div>
                        </div>
                        </div>
                    </div> --}}
                    {{/each}}
                    {{else}}
                    <h4>No Incoming Requests!</h4>
                    {{/if}}
        </div>
        

                    


        

</main>
{{#section 'script'}}

<script src="/static/js/tutor_help.js"></script>

{{/section}}