<main class="main-result">
    <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/tutor-portal">Incoming Requests</a></li>
            <li class="list-group-item"><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">

  {{!-- <div class="input-group mb-3">
  <button class="btn btn-success btn-block" type="submit">Check In</button>
</div> --}} 
                <h2>Incoming Requests</h2>
            </div>
            <div class="card-body">
            {{#if curObjects.length}}
            {{#each curObjects as |request|}}
            <div class="card result-card">
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-6">
                        <h3>{{request.studentKey.user.first_name}} {{request.studentKey.user.last_name}}</h3>
                        <p>{{request.studentKey.user.university}}</p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-success btn-block reqbutton" href="/api/help/request/{{request.id}}">Accept Request</a>
                        <a class="btn btn-success btn-block emailbutton" id='emailButton' href="mailto:{{request.studentKey.user.email}}">Email Student</a>
                    </div>
                </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <h4>No Incoming Requests!</h4>
            {{/if}}

        </div>
      </div>

</main>
{{#section 'script'}}

{{!-- <script src="/static/js/tutorhelp.js"></script> --}}

<script>
    $( ".reqbutton" ).on( "click", function(event){
    event.preventDefault();
   $.get($(this).attr('href'), function (data, textStatus, jqXHR) {
    if(textStatus=='success'){
        $("#success").text(data.message).show().delay(3000).fadeOut(300);
        $(this).text("Accepted Request");
        //$(this).removeClass();
    }else{
        $("#error").text(data.message).show().delay(3000).fadeOut(300);
    }
    });
    });



</script>
{{/section}}